venv/
__pycache__/
*.pyc
*.log
nohup.out
*.backup
*.fixed
*.broken
*.original
*.json
!action_emojis.json
!cart_config.json
!cryptos.json
!menu.json
!products.json
!settings.json
!support.json
!tgpremium.json
users.json
orders.json
orders_log.json
carts.json
used_hashes.json
wallets.json
botstate.json
smmdata.json
start_bots.sh
